@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap');
// через Гугл фонтс внтри ВС кода подключаем
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:regular&display=swap');

html {
  scroll-behavior: smooth;

}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main), serif;
  text-wrap: balance;
  height: 100%;

}

img {
  display: block;
}

a {
  color: var(--text-color);
  transition: all 0.2s ease-in;

  &:hover {
    color: var(--accent);
  }
}


