.about {
  padding: 58px 0 118px 0;
}


.about_title {
  margin-bottom: 75px;
  position: relative;
  display: block;


  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #00a4e5; // Используем background-color вместо color
    top: 30px; // Положение снизу заголовка
    left: 50%; // Центрируем линию относительно заголовка
    margin-left: -25px; // Сдвигаем линию влево на половину ширины
    transition: all 0.2s ease-in;
  }

  &:hover::after {
    width: 100px;
    margin-left: -50px; // Сдвигаем линию влево на половину новой ширины
  }

}

//GRID

.about__wrapper {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  grid-template-areas:
          "title title img1 img2 img3"
            "text text img1 img2 img3";
}


.about__desc {
  grid-area: title;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #48555b;
  align-self: center;
}

span {
  letter-spacing: 0.01em;
  color: #16ace8;
}

.about__text {
  align-self: center;
  grid-area: text;
  //margin-top: 30px;
  font-family: var(--font-main), serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.about__img01 {
  grid-area: img1;
}

.about__img02 {
  grid-area: img2;
}

.about__img03 {
  grid-area: img3;
}

.img {
  align-self: center;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.05);
  }
}